#==================================================================
# PyAI_v1\requirements.txt - ETI Patagonia - prof.martintorres@educ.ar
#==================================================================

PyQt5==5.15.11
requests==2.32.5
Pygments==2.19.2
pyttsx3

